@font-face {
    font-family: 'IRANSansWeb_Bold';
    src: url("../fonts/IRANSansWeb_Bold.eot") format('opentype');
    src: url("../fonts/IRANSansWeb_Bold.ttf") format("truetype"),
    url("../fonts/IRANSansWeb_Bold.woff") format('woff');
}

@font-face {
    font-family: 'IRANSansWeb_Light';
    src: url("../fonts/IRANSansWeb_Light.eot") format('opentype');
    src: url("../fonts/IRANSansWeb_Light.ttf") format("truetype"),
    url("../fonts/IRANSansWeb_Light.woff") format('woff');
}

@font-face {
    font-family: 'IRANSansWeb_Medium';
    src: url("../fonts/IRANSansWeb_Medium.eot") format('opentype');
    src: url("../fonts/IRANSansWeb_Medium.ttf") format("truetype"),
    url("../fonts/IRANSansWeb_Medium.woff") format('woff');
}

@font-face {
    font-family: 'IRANSansWeb_UltraLight';
    src: url("../fonts/IRANSansWeb_UltraLight.eot") format('opentype');
    src: url("../fonts/IRANSansWeb_UltraLight.ttf") format("truetype"),
    url("../fonts/IRANSansWeb_UltraLight.woff") format('woff');
}

@font-face {
    font-family: 'IRANSansWeb';
    src: url("../fonts/IRANSansWeb.eot") format('opentype');
    src: url("../fonts/IRANSansWeb.ttf") format("truetype"),
    url("../fonts/IRANSansWeb.woff") format('woff');
}